<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- added permission for retrofit api usage -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- added permission for AlarmManager-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/second_ortho_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/second_ortho_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name="com.orthodoxquotesapp.quoteapp.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarmmanager.AlarmReceiver" android:exported="false" />

    </application>
</manifest>